/* ----------------------------------------------------- GENERAL STYLING ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #252422;
}

a {
    text-decoration: none;
    color: #252422;

}

a:visited {
    color: #252422;
}

/* ----------------------------------------------------- BACKGROUNDS ------------- */

header, 
footer {
    background-color: rgba(253, 245, 230, 0.5);
}

#benefits-section {
    background-color: rgba(199, 154, 151, 0.5);
}

#about-section {
    background-color: rgba(253, 245, 230, 0.3);
}

#specialities-section {
    background-color: rgba(217, 191, 217, 0.5);
}

/* ----------------------------------------------------- HEADER ------------- */

header {
    padding-left: 75px;
    padding-right: 90px;
    display: flex;
}

header div, nav {
    width: 80%;
}

#logo img {
    height: 180px;
    width: 180px;
}

nav {
    font-weight: 600;
    display: flex;
    align-items: center;
}

#nav-links {
    justify-content: flex-end;
    letter-spacing: .1rem;
}

#nav-links a {
    padding: 5px 10px;
    margin-left: 45px;
    font-size: 15px;
}

#nav-links a:hover {
    color: #B47555;
}

.active {
    border: 1px solid #B47555;
    border-radius: 2px;
}

#nav-links button {
    border: 1px solid #B47555;
    background-color: #B47555;
    padding: 5px 25px;
    margin-left: 45px;
    font-family: inherit;
    font-size: 15px;
    color: #fff;
    font-weight: inherit;
    letter-spacing: inherit;
    border-radius: 2px;
    transition: transform .4s ease-in-out;
    /* box-shadow: ; */
}

#nav-links button:hover {
    transform: scale(1.03);
    border: 1px solid #B47555;
    background-color: #fff;
    color: #B47555;
    cursor: pointer;
} 


/* ----------------------------------------------------- MAIN ------------- */

#hero-section {
    
}



/* ----------------------------------------------------- FOOTER ------------- */

