/* ----------------------------------------------------- GENERAL STYLING ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------------- BACKGROUNDS ------------- */

header, 
footer {
    background-color: rgb(253, 245, 230);
}

#benefits-section {
    background-color: rgba(199, 154, 151, 0.5);
}

#about-section {
    background-color: rgba(253, 245, 230, 0.3);
}

#specialities-section {
    background-color: rgba(217, 191, 217, 0.5);
}


/* ----------------------------------------------------- BODY ------------- */


/* ----------------------------------------------------- HEADER ------------- */


/* ----------------------------------------------------- MAIN ------------- */



/* ----------------------------------------------------- FOOTER ------------- */

