/* ----------------------------------------------------- GENERAL STYLING ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #252422;
}

body {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #252422;
}

a:visited {
    color: #252422;
}

/* ----------------------------------------------------- BACKGROUNDS ------------- */

header, 
footer {
    background-color: rgba(253, 245, 230, 0.5);
}

#hero-section {
    background: url(https://www.clinical-partners.co.uk/images/therapies/talking-therapies-hero.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

.hero-text {
    background-color: rgba(253, 245, 230, 0.3);
    padding-bottom: 10vh;
    height: inherit;
}

#benefits-section {
    background-color: rgba(199, 154, 151, 0.5);
    padding-bottom: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

#about-section {
    background-color: rgba(253, 245, 230, 0.3);
    padding-bottom: 10vh;
    width: 100%;
}

#specialities-section {
    background-color: rgba(217, 191, 217, 0.3);
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services-bg {
    background-color: rgba(204, 216, 192, 0.6);
    padding-bottom: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#response-bg {
    background-color: rgba(199, 154, 151, 0.25);
    padding-bottom: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------- HEADER ------------- */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    padding-right: 75px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

#logo img {
    height: 150px;
    width: 150px;
}

.sidebar {
    background-color: rgb(253, 245, 230);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-size: 0.9rem;
    color: #B47555;
    margin-left: 50px;
}

.nav-link:hover {
    color: #B47555;
}

.nav-link button {
    border: 1px solid #B47555;
    background-color: #B47555;
    padding: 5px 25px;
    font-family: inherit;
    font-size: 0.9rem;
    color: #fff;
    font-weight: inherit;
    letter-spacing: inherit;
    border-radius: 4px;
    transition: background-color .2s ease-in-out;
}

.nav-link button:hover {
    border: 1px solid #B47555;
    background-color: #fff;
    color: #B47555;

} 

/* Contact */

#active-contact > button {
    background-color: #fff;
    padding: 5px 25px;
    font-family: inherit;
    font-size: 15px;
    color: #B47555;
    font-weight: inherit;
    letter-spacing: inherit;
    border-radius: 4px;
    transition: background-color .2s ease-in-out;
}

#active-contact > button:hover {
    border: 1px solid #B47555;
    background-color: #B47555;
    color: #fff;
}

/* ----------------------------------------------------- MAIN ------------- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
    line-height: 1.5;
    max-width: 80%;
}

.main-section-heading {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    padding-bottom: 35px;
}

.main-section-heading p,
.section-header p,
.right-side p {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 2vh;
    text-align: center;
}

/* Hero Section */

.hero-text {
    min-height: inherit;
    margin: 0 auto;
    text-align: center;
    padding-top: 125px;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-size: 3rem;
    padding: 3vh 2vw;
    text-align: center;
}

.hero-paragraph {
    padding: 4vh 4vw 12vh 4vw;
    font-size: 1.1rem;
}

.free-consultation {
    border: 2px solid #B47555;
    background-color: #B47555;
    padding: 10px 45px;
    font-family: inherit;
    font-size: 0.75rem;
    color: #fff;
    font-weight: inherit;
    letter-spacing: inherit;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 6px rgba(180, 117, 85, 0.2);
}

.free-consultation:hover {
    transform: scale(1.04);
    border: 1px solid #B47555;
    background-color: #fff;
    color: #B47555;
    cursor: pointer;
    box-shadow: 0px 0px 10px 6px rgba(180, 117, 85, 0.2);
} 

/* Benefits of Therapy Section */

#benefits-cards {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}

.card {
    justify-self: center;
    width: 330px;
    background-color: white;
    border-radius: 14px;
    padding: 10px 15px;
    box-shadow: 0px 0px 23px 6px rgba(199, 154, 151, 0.4);
}

.benefits-card-image {
    overflow: hidden;
    border-radius: 4px;
}

.benefits-card-image img{
    max-width: 300px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

 .card-headings {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
 }

.benefits-card-content > p {
    font-size: 15px;
}

/* About Section */

.about-container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
    align-items: center;
}

.about-image {
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
}

.about-image > img {
    max-width: 250px;
    max-height: 250px;
    border: 4px solid #C79A97;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgba(199, 154, 151, 0.2);
    margin-bottom: 12px;
}

.about-image strong {
    font-size: 14px;
}

.about-image p {
    font-size: 12px;
}

.about-content {
    text-align: center;
    line-height: 1.5;
}

.about-header {
    color: #B47555;
}

.learn-more {
    background-color: #D9BFD9;
    border: 1px solid #D9BFD9;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 4px rgba(217, 191, 217, 0.2);
    margin-top: 4rem;
    padding: 10px 30px;
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 500;
    transition: background-color .2s ease-in-out;
}

.learn-more:hover {
    background-color: #fff;
    cursor: pointer;
}

/* What I Can Help With Section */

.specialities-content {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5vw;
    line-height: 1.5;
}

.specialities-list {
    margin-left: 100px;
    font-size: 15px;
}

.specialities-list > ul {
    list-style-type: "+ ";
}
    
.specialities-image-container {
    background: url(../images/home/specialities-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 50px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 0px 23px 6px rgba(217, 191, 217, 0.4);
}

.specialities-quote {
    background-color: #FDF5E6;
    border-radius: 4px;
    padding: 1.5rem;
}

.quote {
    font-family: "Playfair", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.quote ~ hr {
    width: 20%;
    margin: 8px auto 5px auto;
    border: none;
    height: 2px;
    background-color: rgb(199, 154, 151);
}

.quote-author {
    font-family: "EB Garamond", serif;
    font-size: 14px;
    font-weight: 600;
    color: #C79A97;
}

/* Client Stories */

.client-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 14px;
    gap: 2.5rem;
}

.transform-1 {
    transition: transform 0.35s ;
}

.transform-1:hover {
    transform: scale(1.02);
}

.outer-box {
    background-color: rgba(204, 216, 192, 0.75);
    box-shadow: 0px 0px 18px 8px rgba(204, 216, 192, 0.16);
    padding: 25px;
    border-radius: 14px;
}

.inner-box {
    border: 2.5px solid #C79A97;
    padding: 5px 15px;
    border-radius: 14px;
}

.client-container i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px 0 15px 10px;
    background-color: #D9BFD9;
}

/* Services Main */

.services-content {
    width: 60%;
    border: 3px solid #D9BFD9;
    padding: 5vh 6vw;
    margin: 50px auto;
    line-height: 1.5;
    font-size: 14px;
    background-color: #fff;
}

.services-heading {
    text-align: center;
    font-size: 1.5rem;
}

.services-separater {
    border: none;
    background-color: #D9BFD9;
    height: 5px;
    width: 65%;
    margin: 10px auto 25px auto;
}

h3 {
    font-size: 1.15rem;
    font-weight: 600;
}

/* Contact Main */

.container-content {
    width: 80%;
    min-height: 80vh;
    padding: 3vh 2vw;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-side {
    width: 80%;
    height: 100%;
    margin: 2vh 2vw;
    text-align: center;
}

.right-side {
    background-color: rgba(217, 191, 217, 0.3);
    border: 2px solid #D9BFD9;
    width: 80%;
    height: 100%;
    padding: 6vh 2.5vw 0 2.5vw;
    margin-top: 2vh;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
    font-size: 0.85rem;
    justify-content: center;
}

.input-box {
    width: 100%;
    margin-top: 2vh;
}

input,
select,
textarea {
    outline: none;
    border: 1px solid #D9BFD9;
    margin-top: 4px;
}

input[type=text],
input[type=email],
select,
textarea {
    position: relative;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    padding: 0px 15px;
}

textarea {
    min-width: 100%;
    min-height: 125px;
    resize: none;
    padding-top: 10px;
}

label {
    margin-right: 15px;
}

.contact-column {
    display: flex;
    column-gap: 15px;
}

.form-btns {
    align-self: center;
    margin: 5vh;
}

input[type=submit],
input[type=reset] {
    font-size: 0.75rem;
    padding: 5px 20px;
    margin-right: 20px;
    border: 1px solid #B47555;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #B47555;
    color: #fff;
}

input[type=submit]:hover {
    color: #B47555;
    background-color: #FDF5E6;
    cursor: pointer;
}

input[type=reset] {
    background-color: #fff;
    color: #B47555;
}

input[type=reset]:hover {
    cursor: pointer;
}

/* Response Main */

.response-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Back to Top - Credit: Tyler Potts */

html {
    scroll-behavior: smooth;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    background-color: #DE5D83;
    padding: 0.5rem;
    border-radius: 4px;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
    background-color: #c15071;
}

.back-to-top > i {
    color: #FDF5E6;
    font-size: 1.2rem;
    transition: 0.2s ease-out;
}

.back-to-top > i:hover {
    transform: translateY(-2px);
}

/* ----------------------------------------------------- FOOTER ------------- */

/* General Footer Styling */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a:hover,
footer i:hover{
    color: #c15071;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 55px 0px 40px 0px;
}

.footer-container hr {
    width: 1.5rem;
    height: 2px;
    margin: 6px auto;
    border: none;
    background-color: #B47555;
}

.footer-logo {
    font-size: x-small;
}

.footer-logo > img {
    width: 225px;
    height: 225px;
}

.footer-logo strong,
h5 {
    font-family: "EB Garamond", serif;
}

.footer-menu,
.social-links {
    align-items:center;
    line-height: 2.25;
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 15px;
    letter-spacing: .1rem;
}

.footer-menu > ul,
.social-links > ul {
    line-height: 2.25;
    font-size: small;
    list-style-type: none;
    padding: 0px 0px;
}

.footer-container ~ hr {
    border: none;
    background-color: #B47555;
    width: 60%;
    height: 1px;
    margin: 5px auto;
}

footer > span {
    display: block;
    font-size: x-small;
    text-align: center;
    padding: 10px 0px 15px 0px;
}

/* Home Footer */

.footer-banner-home {
    background: url(../images/home/home-footer-image.jpg) no-repeat;
    background-size: cover;
    background-position: bottom left; 
    height: 15vh;
    width: 100%;
}

.footer-img-bg-home {
    width: inherit;
    height: inherit;
    background-color: rgba(199, 154, 151, 0.4);
}

/* Services Footer*/

.footer-banner-services {
    background: url(../images/services/service-footer-img-2.jpg) no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 15vh;
}

/* Contact Footer*/

.footer-banner-contact {
    background-color: rgba(204, 216, 192, 0.6);
    width: 100%;
    min-height: 15vh;
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.motivation p {
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
}

/* Response Footer */

.footer-banner-response {
    background: url(https://images.pexels.com/photos/1128797/pexels-photo-1128797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat;
    background-size: cover;
    background-position: bottom center; 
    height: 15vh;
    width: 100%;
}

.footer-img-bg-response {
    width: inherit;
    height: inherit;
    background-color: rgba(199, 154, 151, 0.4);
}

/* ----------------------------------------------------- MEDIA QUERIES ------------- */

@media screen and (max-width: 768px) {

    /* Home */

    .hero-text h1 {
        padding: 25px 20px;
        font-size: 1.5rem;
    }

    /* Services */

    .services-content {
        width: 80%;
    }
} 

@media screen and (max-width: 875px) {

    /* Home */
    #benefits-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        padding: 25px 20px;
        font-size: 2.5rem;
    }

     /* Footer */

     .footer-banner-contact,
     .footer-container {
         flex-direction: column;
         row-gap: 25px;
     }
}

@media screen and (max-width: 1024px) {
    .hero-paragraph {
        padding: 4vh 4vw 8vh 4vw;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .about-image strong,
    .about-image p {
        display: none;
    } 

    /* Contact */
    
    .contact-column {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
    } 

}

@media screen and (max-width: 1300px) {
    /* Home */

    #benefits-cards {
        grid-template-columns: repeat(2, 1fr);
    }

     /* Footer */

     .motivation p {
        font-size: 1rem;
    }
}